*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
}

.title{
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
}


hr{
    width: 15rem;
    margin: 0.5rem auto;
    height: 0.2rem;
    background-color: rgb(130, 130, 247);
    border: none;
}

.main-content{
    width: 95vw;
    height: auto;
    display: flex;
    margin: 2rem 0.5rem;
    justify-content: space-around;
}

.company-filter{
    width: 20vw;
    height: fit-content;
    margin: 2.5rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.search{
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    outline: none;
}

.company-button,
.all{
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(130, 130, 247);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.container{
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem auto;
}

.product-card{
    width: 22rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 20px 2px rgb(212, 212, 232);
    margin: 2rem 1rem;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;

}

.product-image{
    width: 20rem;
    height: 10rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.product-title{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.product-company{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.product-price{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

@media (max-width: 800px){

    
.main-content{
    flex-direction: column;
}

.company-filter{
    width: 95vw;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 1rem;
    flex-direction: row;
}

}


@media (max-width: 440px){

    .search{
        width: 95vw;
    } 
}

@media (max-width: 420px){

.search{
    width: 95vw;
}   

.product-card{
    width: 20rem;
}

.product-image{
    width: 18rem;
}

.product-title{
    font-size: 1rem;
}

.product-company,
.product-price{
    font-size: 0.9rem;
}

}
